.news-block {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.error-msg {
    display: none;
    position: absolute;
    top: 40px;
    color: red;
    font-size: 20px;
}

button {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    border: 1px solid black;
    background: white;
    padding: 5px 15px;
    transition: all .7s;
    outline: none;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    white-space: nowrap;
}

button:disabled {
    background: #d7d7d7;
    cursor: default;
}

button:hover {
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

h1 {
    position: relative;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*===========================*/
/*======== NEWS BLOCK =======*/
/*===========================*/

.news-block-list {
    position: relative;
    min-height: 600px;
    width: 80%;
    margin: 50px auto;
}

.news-block-el-content {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
}

.news-block-el-content p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
}

.news-block-el-link {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    opacity: 1;
    border-right: 1px solid black;
    transform: translate(0, 0);
    font-size: 16px;
    padding: 10px 20px;
    background: white;
}

.news-block-el {
    position: relative;
    border: 1px solid black;
    min-height: 50px;
    transition: all .7s;
}

.news-block-el p {
    background: white;
    padding: 5px 0;
}

.news-block-el-title {
    margin: 0;
    padding: 15px 0 15px 5px;
    width: 80%;
    font-size: 20px;
    font-weight: 700;
}

.news-block-el i {
    position: absolute;
    display: block;
    width: 5%;
    transform: translate(-6px, 0);
    top: 20px;
    right: 0;
    cursor: pointer;
    background: lightblue;
}

.news-block-el i:before,
.news-block-el i:after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 3px;
    height: 13px;
}

.news-block-el i:before {
    transform: translate(-4px, 0) rotate(-45deg);
}
.news-block-el i:after {
    transform: translate(4px, 0) rotate(45deg);
}

.news-block-el input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.news-block-el-content {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
}

.news-block-el-content p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 16px;
    padding: 0 20px;
    background: white;
}

.news-block-el input[type=checkbox]:checked ~ i:before {
    transform: translate(4px, 0) rotate(-45deg);
}

.news-block-el input[type=checkbox]:checked ~ i:after {
    transform: translate(-4px, 0) rotate(45deg);
}

.news-block-el input[type=checkbox]:checked ~ .news-block-el-content,
.news-block-el input[type=checkbox]:checked ~ .news-block-el-link{
    margin-top: 0;
    max-height: 0;
    line-height: 0;
    opacity: 0;
    transform: translate(0, -50%);
}

.news-block-el-content,
.news-block-el i:before,
.news-block-el i:after {
    transition: all 0.5s;
}

.element-title {
    display: block;
    width: 70%;
    color: #000;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

/*===========================*/
/*======== NAVIGATION =======*/
/*===========================*/

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-right: 100px;
    margin: 0 auto;
}

input[type='number'] {
    -moz-appearance:textfield;
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media all and (max-width: 749px){
    button span {
        display: none;
    }

    .navigation {
        width: 60%;
        padding-right: 40px;
    }
    .page-indicator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}